@import '../../../styles/theme.scss';
@import '../../../styles/mixins.scss';

.navicon {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  bottom: 0px;
  right: 0px;
  width: $menu-icon-diameter;
  height: $menu-icon-diameter;
  position: fixed;
  z-index: 10;
  margin: 2em;
  background-color: $menu-icon-color-closed;
  border: solid $menu-icon-color-closed 2px;
  border-radius: 50%;
  @include transition(.625s ease-in-out);
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.5);
}

.navicon:focus {
  outline: none;
}

.navicon span {
  display: block;
  position: absolute;;
  margin: 0 auto;
  height: $burger-span-height;
  width: 50%;
  border-radius: 25px;
  opacity: 1;
  left: 25%;
}

.navicon span:nth-child(1), .navicon span:nth-child(2), .navicon span:nth-child(5) {
  z-index: 11;
  background: white;
  @include transition(.3s ease-in-out);
}

.navicon span:nth-child(3), .navicon span:nth-child(4) {
  background: $menu-icon-color-mid;
  @include transform(rotate(0deg));
  @include transition(.3s ease-in-out);
}

.navicon span:nth-child(1) {
  top: ($menu-icon-diameter/2)-9px-($burger-span-height/2)-2px;
  transition-delay: .325s;
}

.navicon span:nth-child(2) {
  transition-delay: .325s;
}

.navicon span:nth-child(2),.navicon span:nth-child(3), .navicon span:nth-child(4) {
  top: ($menu-icon-diameter/2)-($burger-span-height/2)-2px;
}

.navicon span:nth-child(5) {
  top: ($menu-icon-diameter/2)+9px-($burger-span-height/2)-2px;
  transition-delay: .325s;
}

.navicon.showMenu {
  border-color: $menu-icon-color-showMenu;
}

.navicon.showMenu span:nth-child(1), .navicon.showMenu span:nth-child(2) {
  top: ($menu-icon-diameter/2)-($burger-span-height/2)-2px;
  opacity: 0;
  background: $menu-icon-color-mid;
  transition-delay: 0s;
}

.navicon.showMenu span:nth-child(3) {
  background: $menu-icon-color-showMenu;
  @include transform(rotate(45deg));
  transition-delay: .35s;
}

.navicon.showMenu span:nth-child(4) {
  background: $menu-icon-color-showMenu;
  @include transform(rotate(-45deg));
  transition-delay: .35s;
}

.navicon.showMenu span:nth-child(5) {
  top: ($menu-icon-diameter/2)-($burger-span-height/2)-2px;
  opacity: 0;
  background: $menu-icon-color-mid;
  transition-delay: 0s;
}
