@import '../../../styles/theme.scss';
@import '../../../styles/mixins.scss';
@import '../../../styles/fonts.scss';

.menu {
  margin: 0;
  padding: 0;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 80%;
	position: fixed;
  z-index: 9;
  border-radius: 10px 0px 0px 0px;
  background-color: $menu-background-colour;
  transform: translate3d(100%, 0, 0);
  @include transition(0.725s ease-in-out);
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu.showMenu {
  width: 80%;
  @media only screen and (min-width: 600px) {
    width: 40%;
  }
//  opacity: 0.95;
//  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
  -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
  box-shadow: -5px 0 20px 0px rgba(0, 0, 0, 0.5);
}

ul > li {
  display: block;
  text-align: center;
  padding: 24px 0;
}

ul > li:first-child {
    margin-top: 128px;
}

ul > li > a {
  font-size: 1.5em;
  font-family: $permanent-marker;
  color: $menu-text-color;
}
