@import './colors.scss';

//Header
$sticky-header-color: $light-grey-2;

//Body
$body-font-colour-1: $mid-grey-1;

//Cards
$card-background-color: $light-grey-1;

//Landing Page
$landing-background-color: $light-grey-1;
$landing-button-border-colour: #373a47;
$landing-button-font-colour: #373a47;

//Menu Icon
$menu-background-colour: $midnight-blue-1;
$menu-text-color: $yellow-green-1;
$menu-icon-diameter: 42px;
$menu-icon-color-closed: $midnight-blue-1;
$menu-icon-color-showMenu: $yellow-green-1;
$menu-icon-color-mid: #668080;
