@import './colors.scss';

//Cards
$card-background-color: $light-grey-1;

//Landing Page
$landing-background-color: $light-grey-1;
$landing-button-colour: #0B2669;

//Menu Icon
$menu-background-colour: #232323;
//$menu-pulse-color-1: #880000;
//$menu-pulse-color-2: #408800;
//$menu-pulse-color-3: #400088;
//$menu-pulse-color-4: #880000;
$menu-icon-diameter: 42px;
$menu-icon-color-closed: #373a47;
$menu-icon-color-open: #fffce1;
$menu-icon-color-mid: #9b9b94;
